/Blender

/Windows/Build
/Windows/*.db
/Windows/*.opendb
/Windows/packages
/Windows/.vs
/Windows/**/*.user
/Windows/**/Debug
/Windows/**/Release
/Windows/SpriteFontBuilder/bin
/Windows/SpriteFontBuilder/obj
/Emscripten/compiled
