<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".glsl" mimeType="text/plain" />
            <mimeMap fileExtension=".ss" mimeType="text/plain" />
            <mimeMap fileExtension=".wmesh" mimeType="text/plain" />
            <mimeMap fileExtension=".smesh" mimeType="text/plain" />
            <mimeMap fileExtension=".actor" mimeType="text/plain" />
            <mimeMap fileExtension=".mat" mimeType="text/plain" />
            <mimeMap fileExtension=".pvs" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
